@model IEnumerable<KingPim.Models.SubCategory>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Logged In";
}

<script>
    $(document).ready(function () {
       $(function () {
        $('.getinfo').click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');

            $.ajax({
                url: '@Url.Action("GetSubCategory")',
                type: 'GET',
                data: { Id: id },
                dataType: "html",
                success: function (partialView) {
                    $("#SubCategoryInfo").html(partialView);
                    $("#SubCategoryInfo").show();
                }
            });
        });
    });
});

    $(function () {
        $('#Decor ul').hide(400);
        $('#Decor li').on('click', function (e) {
            e.stopPropagation();
            $(this).children('ul').slideToggle();
        });
        $('#Decor a').not('[href="#"]').attr('target', '_blank');
    });


</script>

<div class="outer">

    <div class="Category">
        <p>Category catalog</p>
        <ul id="Decor">
            @foreach (var category in ViewBag.Categories)
        {
            <li class="level1">
                @category.Name
                <ul>
                    <li class="level2">
                        @foreach (var subcategory in Model)
                    {
                        if (subcategory.CategoryID == category.CategoryID)
                        {
                        <li>
                            <a href="#" class="getinfo" data-id="@subcategory.SubCategoryId">@subcategory.Name</a>
                        </li>
                }
            }
                    </ul>
                </li>
        }
        </ul>
        <form action="/categories" method="post">
            <button class="btn btn-success">Manage Categories</button>
        </form>
        <br />
        <div>
            <form method="post" action="@Url.Action("Media", "Media")">
                <button class="btn btn-success">Create new media asset group</button>
            </form>
        </div>
    </div>
</div>

<div id="SubCategoryInfo">
</div>

